@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-white text-dark min-vh-100 d-flex flex-column">
    <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1 text-center px-3 py-5">
        <div class="bg-danger bg-opacity-10 rounded-circle p-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="text-danger" viewBox="0 0 16 16">
                <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 13A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm.5-9v4.5l3 1.5-.5.87-3.5-1.75V5h1z" />
            </svg>
        </div>
        <h1 class="display-1 fw-bold mb-1 text-dark">Costco Wholesale</h1>
        <p class="text-danger fw-semibold text-uppercase mb-3">Coming Soon!</p>
        <p class="text-secondary fs-5 fw-light mb-4 col-md-6">
            We're working hard to bring you something amazing. Sign up below to be the first to know when we go live!!.
        </p>
    </div>
</div>
