@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Costco Coming to Stillwater Soon!</h1>
    <h2 class="display-4">Open Date: Fall of 2028</h2>"
</div>
